.collection-card {
    transition: transform 0.3s;
}
.collection-card:hover {
    transform: scale(1.03);
}
.item-attribute {
    background-color: #f8f9fa;
    border-radius: 5px;
    padding: 5px 10px;
    margin-right: 5px;
    margin-bottom: 5px;
    display: inline-block;
}
.profile-image {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}
.main-image {
    max-height: 400px;
    object-fit: contain;
}